archspec
boltons
brotli
certifi
cffi
charset-normalizer
colorama
distro
frozendict
h2
hpack
hyperframe
idna
jsonpatch
jsonpointer
lxml==6.1.0
msgpack==1.2.1
packaging
platformdirs
pluggy
pycosat
pycparser
pysocks
requests
ruamel.yaml
setuptools==80.10.2
tqdm
truststore
urllib3
wheel==0.46.2
zstandard==0.25.0
