archspec
boltons
brotli
certifi
cffi
charset-normalizer
colorama
distro
frozendict
h2
hpack
hyperframe
idna
jsonpatch
jsonpointer
packaging
platformdirs
pluggy
pycosat
pycparser
pysocks
requests
ruamel.yaml
setuptools==80.9.0
tqdm
truststore
urllib3
wheel==0.45.1
zstandard==0.25.0
